body {
    font-family:"Font Name", "Fallback Font Name", generic-family;
    background-image: url("https://images.pexels.com/photos/1324803/pexels-photo-1324803.jpeg?cs=srgb&dl=pexels-matthew-montrone-230847-1324803.jpg&fm=jpghttps://images.unsplash.com/photo-1500993855538-c6a99f437aa7?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Zm9uZG8lMjBkZSUyMHBhbnRhbGxhJTIwZGUlMjBtb250YSVDMyVCMWF8ZW58MHx8MHx8fDA%3D");
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  form {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  label {
    flex: 1;
  }
  
  input {
    flex: 2;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    flex: 1;
    background-color: #0f4fff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 3%;
  }
  
  button:hover {
    background-color: #123fbb;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
    height: 25px;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }

  .complete-button {
    background-color: #51cf40;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
    height: 25px;
  }
  
  .complete-button:hover {
    background-color: #129700;
  }
  #taskInput{
    font-family:"Gill Sans", sans-serif;
  }
